---
layout: default
title: VanDragt.com
---
<h1>{{ site.name }}</h1>
<div id="body">

	{% for post in paginator.posts %}
	<div class="text item">
		{% if post.layout == "link" %}
		<h2><a href="{{ post.link }}">{{ post.title }}</a><a style="text-decoration:none" class="permalink" href="{{ post.url }}">∞</a></h2>
		{% else %}
		<h2><a href="{{ post.url }}">{{ post.title }}</a><a style="text-decoration:none" class="permalink" href="{{ post.url }}">∞</a></h2>
		{% endif %}
		{{ post.content }}
	</div>
	{% endfor %}

	<p><a href="/archive">Older posts</a></p>
</div>
