::selection,::moz-selection,::webkit-selection {
	background-color:#E13300;
	color:#FFF;
}

html {
	min-width:30em;
	background:#fff;
}

body {
	margin:0;
	padding:0;
	color:#2B2C2E;
	font:1em/1.6em 'PT Serif',Georgia,serif;
}

a {
	background-color:transparent;
	color:#039;
}

blockquote {
	margin:0 0 .5em;
	padding:.125em 2em;
	box-shadow:-1em 0 1em -1em #ccc;
	font-style:italic;
}

code {
	background-color:#f9f9f9;
	font-size:12px;
	font-family:Consolas,Monaco,"Courier New",Courier,monospace;
}

h1,h2,h3,h4,h5,h6 {
	margin:0 0 14px;
	background-color:transparent;
	color:rgba(68,68,68,0.5);
	text-shadow:0 1px 1px #FFF;
	font-weight:400;
	line-height:1.2em;
}

h1 a,h2 a {
	text-decoration:none;
}

h1 {
	display:none;
	margin:.5em 0 0;
	padding:0;
	text-align:left;
	font-size:1.5em;

	.permalink {
		display:inline-block;
		opacity:0.25;
	}

	a:hover {
		text-decoration:underline;
	}

}



h2 {
	margin:2em 0 1em;
	font-weight:400;
	font-size:2em;
	font-family:wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Helvetica,Arial,sans-serif;


	.permalink {
		display:inline-block;
		margin-left:1em;
		opacity:0.25;
	}

	a:hover {
		background:#f0f0eb;
	}

}


h3 {
	font-size:1em;
}

li>p {
	margin:0;
}

p {
	margin-top:.5em;
}

pre {
	display:block;
	margin:14px 0;
	padding:12px 10px;
	border:1px solid #D0D0D0;
	background-color:#f9f9f9;
	color:#002166;
	white-space:pre-wrap;
}

#body {
	margin:0;
	padding:1px 0;
	min-height:30em;
	border:1px solid #f0f0eb;
	border-width:0 1px;


	> h2 {
		padding-left:2em;
	}

}


#container {
	position:relative;
	margin:0 auto;
	max-width:54em;
	border-radius:0 0 4px 4px;
}

#footer {
	margin:20px 0 0;
	padding:0 10px;
	text-align:center;
	font-size:.75em;
	line-height:32px;

	a {
		display:inline-block;
		padding:0 20px;
		text-decoration:none;
	}

	a:hover {
		background:rgba(140,140,135,0.125);
	}

}


#menu {
	background:#44a;
	color:#eee;

	#side {
		padding:0 4em;

		p, ul {
			font-family:Helvetica,Arial,sans-serif;
		}

		>h3 {
			margin:0;
			padding:0;
			color:#eee;
			text-shadow:none;
			font-weight:700;
			line-height:3em;
		}

		ul {
			margin-left:0;
			padding-left:20px;
		}

		.gsc-search-box {
			width:90%;
		}	
	}

	a {
		color:#ee6;
	}
	ul {
		position:relative;
		z-index:100;
		margin:0;
		padding:0;
		text-align:left;
		text-transform:uppercase;
		font-size:0;
		font-family:wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Helvetica,Arial,sans-serif;


		a {
			display:inline-block;
			padding:0 20px;
			text-decoration:none;
			font-size:16px;
			line-height:5em;
		}

		a:hover {
			background:#f0f0eb;
			color:#000;
		}

		li:first-child a {
			padding-left:4em;
		}	
	}




}









.caption p {
	display:inline;
}

.horizontal_list li {
	display:inline-block;
	margin:0;
	padding:0;
	list-style:none;
}

.date {
	display:inline-block;
	font-style:italic;
}

.item {
	margin-bottom:3em;
	padding:0 4em 3em;
	border-bottom:1px inset #f0f0eb;
}

.item p,
.item blockquote {
	max-width:35em;
}

.permalink:hover {
	opacity:1;
}

.cse .gsc-search-button input.gsc-search-button-v2,input.gsc-search-button-v2 {
	margin-top:8px!important;
}

